:root {
  line-height: 1.5;
  font-weight: 500;
  font-family:Assistant ;
  color-scheme: light dark;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}


body {
  margin: 0;
  font-size: 1.4em;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header{
  background-color: rgb(219, 53, 136) !important;
  height: 15vh !important;
}

