.business-list {
    display: flex;
    flex-direction: column;
}

.business-link {
    text-decoration: none;
    color: inherit;
}

.business-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.business-name {
    font-size: 1.5em;
    margin: 0;
}

.business-location,
.business-price,
.business-rating {
    margin: 5px 0;
}
